

body{

    height: 100vh;
    margin: auto;

    .header{

        &__nav{
            background-color: #222831;
            height: 5vh;
            max-height: 40px;
        }

        &__haut{
            display: flex;
            justify-content: center;
            
            &__titre{

            }

        }
    }

}