@import './header.scss';

body {

    background-color: #F9F7F7;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #393E46;

    .container {

        height: 100vh;
        width: 100%;

        &__tri {
            // Style des éléments pour le tri
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 3%;

            &__btn {
                // Style des boutons
                font-family: 'Roboto';
                text-transform: uppercase;
                font-size: 10px;
                background-color: #393E46;
                color: #F9F7F7;
                border-style: none;
                height: 38px;
                width: 70px;
                border-radius: 5px;

                &:hover {
                    // Style des boutons au survol de la souris
                    background-color: #FF9800;
                    transition: 0.2s;
                }
            }

        }

        &__article {
            // Style pour la création des 3 colonnes
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 57%;
            width: 100%;
            max-height: 450px;
            flex-wrap: wrap;
            gap: 15px;

            &__card {
                // Style des box
                width: 100%;
                max-width: 300px;
                background-color: #e0dcdc;
                height: 100%;
                box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);

                &__haut {
                    // Partie par rapport au titre de la box
                    display: flex;

                    &__titre {
                        // Style du titre
                        text-align: center;
                        width: 100%;
                    }

                    &__input {
                        // Style du bouton "Add item"
                        position: relative;
                        width: 304px;
                        height: 40px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border: 1px solid #34974d;
                        background-color: #3aa856;
                        margin-top: 14px;
                        margin-right: 43px;

                        &:hover {
                            background: #34974d;
                        }

                        &:active {
                            border: 1px solid #2e8644;
                        }


                    }

                }

                &__dropzone {
                    // Style de "drop your files here"
                    margin-top: 5%;
                    margin-bottom: 7%;
                    margin-left: 7%;
                    margin-right: 7%;
                    border: dashed 2px #393E46;
                    text-align: center;
                }

                &__inputs {
                    // Style de l'input
                    font-family: "Georgia";
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    padding-left: 20px;
                    font-size: 12px;
                    color: #393E46;

                    &__grand {
                        // Sous-style de l'input description
                        padding-bottom: 25%;
                        margin-right: 18%;
                    }

                    &__petit {
                        // Sous-style des deux autres inputs
                        margin-right: 18%;
                    }
                }
                &__add {
                    font-family: "Georgia";
                    font-size: 12px;
                    color: #393E46;
                    padding-left: 20px;
                    padding-top: 20px;
            }



        }
    }
}

.container__article__card__haut__input,
.container__article__card__haut__input__icon,
.container__article__card__haut__input__text {
    transition: all 0.3s;
}

.container__article__card__haut__input .container__article__card__haut__input__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.container__article__card__haut__input .container__article__card__haut__input__icon {
    position: absolute;
    transform: translateX(109px);
    height: 104%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__article__card__haut__input .svg {
    width: 30px;
    stroke: #fff;
}

.container__article__card__haut__input:hover .container__article__card__haut__input__text {
    color: transparent;
}

.container__article__card__haut__input:hover .container__article__card__haut__input__icon {
    width: 148px;
    transform: translateX(0);
}

.container__article__card__haut__input:active .container__article__card__haut__input__icon {
    background-color: #2e8644;
} }