@import './header.scss';

body {

    background-color: #F9F7F7;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #393E46;

    .container {

        height: 100vh;
        width: 100%;

        &__tri {
            // Style des éléments pour le tri
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 3%;

            &__btn {
                // Style des boutons
                font-family: 'Roboto','sans-serif';
                text-transform: uppercase;
                font-size: 12px;
                background-color: #393E46;
                color: #FFF;
                border: none;
                height: 40px;
                width: 80px;
                border-radius: 5px;
                cursor: pointer;
                transition: transform 0.2s ease;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

                &:hover {
                    // Style des boutons au survol de la souris
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                    transform: translateY(-2px);
                }

                &:active{
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
                    transform: translateY(2px);
                }
            }

        }

        &__article {
            // Style pour la création des 3 colonnes
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 80%;
            width: 100%;
            max-height: 490px;
            flex-wrap: wrap;
            gap: 15px;


            &__card {
                // Style des box
                width: 100%;
                max-width: 300px;
                background-color: #e0dcdc;
                height: 100%;
                box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
                overflow-y: auto;
                overflow-x: hidden;

                &__haut {
                    // Partie par rapport au titre de la box
                    display: flex;

                    &__titre {
                        // Style du titre
                        text-align: center;
                        width: 100%;
                    }

                    &__input {
                        // Style du bouton "Add item"
                        position: relative;
                        width: 304px;
                        height: 40px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border: 1px solid #34974d;
                        background-color: #3aa856;
                        margin-top: 14px;
                        margin-right: 43px;



                        &:hover {
                            background: #34974d;
                        }

                        &:active {
                            border: 1px solid #2e8644;
                        }


                    }

                }

                &__dropzone {
                    // Style de "drop your files here"
                    margin-top: 5%;
                    margin-bottom: 7%;
                    margin-left: 7%;
                    margin-right: 7%;
                    //border: dashed 2px #393E46;
                    text-align: center;

                }

                &__add {
                    font-family: "Georgia";
                    font-size: 12px;
                    color: #393E46;
                    padding-left: 20px;
                    padding-top: 20px;
                    margin: 0px;
                }
            }
        }
    }

    .item {
        margin: 0px;

        // Normalement c'est un enfant de "add", mais là c'est juste iteminput-controller, il faudrait additeminput-controller
        &__input-controller {
            background-color: #393E46;
            color: #F9F7F7;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 10px;
            margin-left: -21px;
            padding: 15px;

            &__text {
                margin-top: 5px;
                margin-bottom: 15px;
                width: 221px;
            }

            &__datetime {
                margin-top: 5px;
                width: 225px;
            }

            &__description {
                margin-top: 5px;
                width: 221px;
                padding-bottom: 50px;
            }
        }
        &__delete__btn {
            background-color: #C0392B; // Un rouge profond
            color: #F9F7F7; // Texte blanc pour un bon contraste
            border: none; // Optionnel, selon le style souhaité
            padding: 10px 15px; // Ajustez selon la taille désirée
            border-radius: 5px; // Pour des coins arrondis
            cursor: pointer; // Changement de curseur pour indiquer qu'il s'agit d'un bouton
            transition: background-color 0.3s ease; // Transition douce pour les interactions
            margin-left: 77px;
            margin-top: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #E74C3C; // Une nuance légèrement plus claire pour l'effet de survol
            }
        }
    }

    .container__article__card__haut__input,
    .container__article__card__haut__input__icon,
    .container__article__card__haut__input__text {
        transition: all 0.3s;
    }

    .container__article__card__haut__input .container__article__card__haut__input__text {
        transform: translateX(30px);
        color: #fff;
        font-weight: 600;
    }

    .container__article__card__haut__input .container__article__card__haut__input__icon {
        position: absolute;
        transform: translateX(109px);
        height: 104%;
        width: 39px;
        background-color: #34974d;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container__article__card__haut__input .svg {
        width: 30px;
        stroke: #fff;
    }

    .container__article__card__haut__input:hover .container__article__card__haut__input__text {
        color: transparent;
    }

    .container__article__card__haut__input:hover .container__article__card__haut__input__icon {
        width: 148px;
        transform: translateX(0);
    }

    .container__article__card__haut__input:active .container__article__card__haut__input__icon {
        background-color: #2e8644;
    }
}